.main_container {
  display: flex;
  justify-content: center;

}

.container {

  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
 
}

textarea {
  height: 30vh;
  margin-bottom: 3rem;
  width: 100%;
  background-color: #8360801a;
  border: 1px solid #8360801a;
  border-radius: 0.3rem;
}

.btn {
  background-color: #a987ac;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 40%;
  height: 49px;
  margin-top: 2rem;
  align-self: center;
}

.btn:hover {
  background-color: #59155f;
}

