@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    font-style: normal;
}


.container{
    width: 80%;
    margin: 0 auto;
}

.project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10em;
    
}

.project_text{
    text-align: left;
}

.project_text h2 {
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    padding: 1rem 0;
}

.project_text h3{
    text-align: left;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 54px;

   
}

.project_text p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 36px;
    padding: 1rem 0
}

.project_img {
    width: 100%;
    height: 100%;
    
}

.project_img > img{
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 60vh;
   
}

.box{
    display: flex;
    justify-content: space-around;
    background:#707070;
    height: 70px;
    width: 100%;
    
}

.box > img{
    padding: 0.5rem 0;
}

.project_content{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.viewCaseStudy {
    display: flex;
    align-items: center;
    

}

.viewCaseStudy >  .link {
    width: 40px;
    height: 20px;
    margin-left: 15px;

}

.link {
    text-decoration: none;
     
}

@media screen and (max-width: 550px){

    .project_img {
        display: none;
    }

    .container_text h1{
        font-size: 2rem;
        line-height: 1.2;
    }

    .project{
        grid-template-columns: 1fr;
    }

    
    }