.nav_links {
  list-style: none;
  display: inline-flex;

  // global styles
  a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      padding: 9px 15px;
      border-radius: 5px;
      transition: all 0.3s ease;
      color: #000;
  }

  &:hover {
      a {
          color: var(--primary-color);
      }
  }
  ul {
      list-style: none;
  }

  // local styles

  li {
     
    .dropdown_btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // padding: 0.5rem 1rem;
      border: none;

      .btn_icon {
        font-size: 1.5rem;
        margin-top: 4px;
        color: var(--primary-color); 
      }
    }



    .drop_menu{
      position: absolute;
      background: var(--white-color);
      top: 85px;
      height: 16rem;
      
      
      z-index: 3;
      border-radius: 0.25rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;

      .drop_menu_content {
        margin: 0.6rem 2rem;
        line-height: 25px;

      }

      .dropdown__footer {
        width: 100%;
        height: 5rem;
        position: absolute;
        bottom: 0;
        background-color: var(--primary-color);
    
        .dropdown__footer_items_container{
          padding: 1rem 0.8rem;
          div {
            display: flex;
            align-items: center;
            
            
            .flags {
              width: 1.2rem;
              height: 1.2rem;
              margin-right: 8px;
            }
    
            p {
              font-size: 0.8rem;
              color: var(--white-color);
              margin-top: 3px;
              span {
                margin-right: 4px;
              }
              img {
                width: 0.6rem
              }
            }
    
            
          }
    
          .canada_sec {
            margin-top: 7px;
          }
        }
      }
    }

    .drop_menu_resource {
      position: absolute;
      background: var(--white-color);
      top: 85px;
      
      
      z-index: 3;
      border-radius: 0.25rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;

      .drop_menu_content {
        margin: 0.6rem 2rem;
        line-height: 25px;

      }
    }
    .mega_box{
      position: absolute;
      right: 200px;
      width: 45%;
      padding: 0.6rem 4rem;
      top: 85px;
      line-height: 25px;
      padding: 0.5rem 0;
      z-index: 3;
      background: var(--white-color);
      border-radius: 0.25rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

      .content{
        padding: 1rem 2rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  } 
      
}





