.headWrapper{
    display:flex;
    justify-content:space-between;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    padding: 15px;
    background-color: #836080;
}

.childWrapper{
    list-style: none;
    display:flex;
    margin-right: 70px;
   

}

.iconChildren{

    font-family: 'Inter';
    font-style:1.5rem;
    margin-right:30px;
    /* font-weight: 400; */
    font-size: 30px;
    line-height: 11px;
    color: #fff;

}

