.testimonials {
    padding: 3rem 10%;
    background: var(--primary-color);
    color: var(--white-color);

    .testimonials_container_title {
        text-align: center;
        color: var(--color-black);

        h1 {
            font-size: 2rem;
            font-weight: bold;
        }

        @media screen and (max-width: 550px) {

            h1 {
                font-size: 1.4rem;
            }
        }

        @media(max-width: 320px){ 
            h1 {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }

    .testimonial_content {
        
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 900px) {
        padding: 4rem 2rem;

        
    }

    @media screen and (max-width: 550px) {
        padding: 4rem 2rem;

        .testimonial_content {
            flex-direction: column;
            margin-top: 0;
        }
    
    }

    @media screen and (max-width: 320px) {
        padding: 4rem 1rem;
    }
}