.navbar {
    display: none;
}



.img{
    top: 20px;
    padding: 10px;
}

@media screen and (min-width: 1024px) {
    .navbar {
        display: flex;
        background: linear-gradient(180deg, #836080 0%, #52304F 100%);
        width: 100%;
        height: 100vh;
        left: -0.1px;
        top: 0px;
      
        /* border: 5px solid green; */
    }
}