.quote {
    padding: 3rem 10%;
    display: flex;

    .main_quote {
        flex: 1;
        padding-right: 3%;

        .quote_title {
            line-height: 50px;

            h1 {
                font-size: 1.7rem;
                font-weight: bold;
            }
            p {
                font-size: 0.9rem;
            }
        }

        .quote_form {
            width: 97%;
            margin-top: 1rem;

            .mata_input {
                margin-top: 1rem;
            }

        }

        @media screen and (max-width: 900px) {
            .quote_title {
                line-height: 40px;
                h1 {
                    font-size: 1.4rem;
                }
                p {
                    font-size: 0.7rem;
                }
            }
        }
    
        @media screen and (max-width: 550px) {
            padding-right: 0;
        }
    
    }
    .main_liveChat {
        flex: 1;
        padding-left: 3%;

        .quote_title {
            line-height: 50px;
            h1 {
                font-size: 1.7rem;
                font-weight: bold;
            }
            p {
                font-size: 0.9rem;
            }
        }

        .live_chat_container {
            width: 97%;
            margin-top: 1rem;
            height: 27.5vmax;
            background: var(--primary-color);
            position: relative;
            

            .liveChat_content {
                left: 0;
                bottom: 20px;
                position: absolute;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0 2% 0 2%;

                .liveChat_input {
                    width: 84%;
                }

                .mata {
                    width: 2%;
                }

                .liveChat_button {
                    padding: 15px;
                    width: 13%;
                    height: 60px;
                    background: var(--white-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    cursor: pointer;

                    img {
                        width: 90%;
                    }
                }
            }
        }
        @media screen and (max-width: 900px) {
            .quote_title {
                line-height: 40px;
                h1 {
                    font-size: 1.4rem;
                }
                p {
                    font-size: 0.7rem;
                }
            }

            .live_chat_container {
                height: 32vmax;

                .liveChat_content {
                    .liveChat_input {
                        width: 78%;
                    }

                    .liveChat_button {
                        width: 19%;
                        padding: 10px;
                    }
                }
            }
        }
    
        @media screen and (max-width: 550px) {
            padding-left: 0;
            margin-top: 2rem;

            .live_chat_container {
                height: 35vmax;

                .liveChat_content {
                    .liveChat_input {
                        width: 80%;
                    }

                    .liveChat_button {
                        width: 20%;
                    }
                }
            }

           
        }
    
        @media screen and (max-width: 320px) {
            .live_chat_container {
                height: 39vmax;

                .liveChat_content {
                    

                    .liveChat_button {
                        width: 24%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 900px) {
        padding: 4rem 2rem;
    }

    @media screen and (max-width: 550px) {
        padding: 4rem 2rem;
        flex-direction: column;
    }

    @media screen and (max-width: 320px) {
        padding: 4rem 1rem;
    }
}