.sidebar{
    /* position:absolute; */
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    /* width: 256px; */
    width:100%;
    height:100vh;
    left: 0px;
    top: 70px;
    color:#5F2264;
    background: rgba(234, 213, 235, 0.5);
 }
 
 
 .topbar > ul > li{
    padding: 2rem;
  }
 
 .topbar li:hover {
     border-left: 4px solid #5F2264;
     border-radius: 0px 6px 6px 0px;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 15px;
 }
 
 .link{
     text-decoration: none;
 }
 
 .sidebar.link{
     list-style: none;
     padding: 1rem 2rem;
 }
 
 .bottombar{
     margin-bottom:50px;
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content:center;
 }
 
 
 .bottombar div:first-child {
     padding: 1rem;
     background: rgba(255, 255, 255, 0.9);
     border: 1px solid rgba(123, 72, 127, 0.5);
     backdrop-filter: blur(87px);
     border-radius: 25px;
 
 }
 
 .bottombar div{
    margin-bottom: 1rem;   
 }