@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;


}

.bg{
    background: #E5E5E5;
}



.container{
    background: linear-gradient(rgba(95, 34, 100, 0.5), rgba(95, 34, 100, 0.5)), url('../../assets/images/Projects/bg_projects.png');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center
}

.container_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container_text h1 {
        font-weight: 700;
        font-size: 3rem;
        line-height: 100px;
        text-align: center;
        color: #F1F1F1;
}


@media screen and (max-width: 550px){

    .container_text{
        width: 100%;
    }

    .container_text h1{
        font-size: 2rem;
        line-height: 1.2;
    }
    
    
    
    }