.container {
  background: #FFFFFF;
  font-family: Hevetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: auto;
  width: 100vw;
  border: 1px solid green;
  display: flex;
}


.aside {
  background: linear-gradient(180deg, #836080 0%, #52304F 100%);
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  justify-content: space-between;
}

.appogaLogo {
width: 15.75rem;
height: 5.75rem;
background: url('../../assets/images/ResetPassword/appoga-logo-a.png');
}


.section {
  background: #E5E5E5;
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
width: 596px;
height: 508px;
background: #F2ECF3;
border-radius: 8px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.resetPasswordHeader {
width: 200px;
height: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: #745171;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.password {
display: flex;
flex-direction: column;
align-items: center;
}

.password > p {
width: 10vw;
height: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
color: #704D6D;
margin-top: 0.8rem;
}

.password > input {
box-sizing: border-box;
width: 488px;
height: 48px;
background: #FFFFFF;
border: 0.8px solid rgba(112, 77, 109, 0.4);
border-radius: 11px;
}

/* ERROR HANDLER BEGINS*/

.passError, .comPassError {
color: red;
text-align: center;
height: 5px;
font-size: 14px;
padding: 3px;
display: none;
}


.input_1:invalid ~ .passError {
  display: block;
} 

.input_1:valid {
  border: 2px solid green;
}

.input_2:invalid ~ .comPassError {
  display: block;
}

.input_2:valid {
  border: 2px solid green;
}

/* ERROR HANDLER ENDS */



.confirmPassword {
display: flex;
flex-direction: column;
align-items: center;
}


.confirmPassword > p {
width: 12vw;
height: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
color: #704D6D;
margin-top: -0.5rem;
}

.confirmPassword > input {
width: 488px;
height: 48px;
background: #FFFFFF;
border: 0.8px solid rgba(112, 77, 109, 0.4);
border-radius: 11px;
}


.submitBox {
width: 488px;
height: 60px;
background: rgba(103, 68, 100, 0.83);
border-radius: 11px;
}

.sendBox {
width: 47px;
height: 32px;
font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 32px;
color: #FFFFFF;
}

.submitBox:hover {
cursor: pointer;
}

.error {
  color: red;
  width: 1px;
}


