.aside {
    position: absolute;
    min-width: 24.62rem;
    height: 100vh;
    background: linear-gradient(180deg, #836080 0%, #52304F 100%);
    display: flex;
  }
  
  
  .content {
    font-family: Hevetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: auto;
    height: 100vh;
    max-width: 100%;
    position: absolute;
    min-width: 355px;
    height: 60%;
    left: 38.8rem;
    top: 16.12rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background: rgb(237, 228, 240);
  }
  
  
  .appogaLogo {
    position: absolute;
    left: 4.06rem;
    top: 3.73rem;
    width: 15.75rem;
    height: 5.75rem;
    background: url('../../assets/images/appoga-logo-a.png');
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    position: relative;
    justify-content: space-around;
    border-radius: 8px;
  }
  
  
  .forget_password_field {
    /* width: 25rem; */
    height: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 2rem;
    color: #745171;
    margin-top: -1.875rem;
    min-width: min(35rem, 90rem);
  }
  
  
  .forget_password_field p {
    text-align: center;
  }
  
  .input_field {
    display: flex;
    flex-direction: column;
  }
  
  
  .email_text {
    width: 6.68rem;
    height: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 2rem;
    color: #704D6D;
  }
  
  
  .password_text {
    max-width: 12rem;
    height: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 2rem;
    color: #704D6D;
    margin-bottom: 2rem;
  }
  
  
  .email_input {
    box-sizing: border-box;
    min-width: min(30rem, 90rem);
    height: 3rem;
    /* background: #FFFFFF; */
    border: 0.8px solid rgba(112, 77, 109, 0.4);
    border-radius: 11px;
  }
  
  
  .back_to_login {
    align-self: flex-end;
  }
  
  
  .submit_button_field {
    min-width: min(30rem, 90rem);
    height: 3rem;
    cursor: pointer;
    background-color: #04AA6D;
    background: rgba(103, 68, 100, 0.83);
    border-radius: 11px;
    margin-bottom: -1.25rem;
  }
  
  .submit_button_field:active {
    background: rgba(103, 68, 100, 0.75);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .submit_button_field:hover {
    background: rgba(103, 68, 100, 0.75);
  }
  
  .send_text {
    width: 3rem;
    height: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    color: #FFFFFF;
  }
  
  
  .error {
    /* align-self: flex-end; */
    color: red;
    width: 1px;
  }
  
  
  @media screen and (max-width: 1200px) {
    .aside{
      position: absolute;
      top: 0;
      height: 40vh;
      width: min(100vw, 100vw)
    }
    .content{
      position: absolute;
      left: 20%;
      top: 40%;
      margin-top: 2rem;
      margin-left: -3.5rem;
      max-height: 40rem;
      width: 80vw;
    }
  
    .submit_button_field {
      /* height: max(90%, 50rem); */
      min-width: 57vw;
      margin: 0 auto;
    }
  
    .email_input {
      min-width: 57vw;
      margin: 0 auto;
    }
  
  }