.container {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #E5E5E5;
}

/* ABOUT US - SECTION */

.aboutAppoga {
    background: #E5E5E5;
    max-height: 1052px;
}

.intro {
    max-width: 100vw;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.intro h4 {
    max-width: 624px;
    max-height: 132px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
}

.intro .info {
    margin-top: -2rem;
    width: 40%;
    height: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 3.375rem;
    color: #303030;
    text-align: center;
}

.pics {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hands {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    display: flex;
    gap: 2em;
}


.aboutAppogaCustomized {
    color: #5F2264;
}


.pic_a {
    height: 17.5rem;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    width: 17.5rem;
    background: url('../../assets/images/AboutUs/pic-a.png');
    z-index: 1;
    
}

.pic_b {
    height: 17.5rem;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    width: 17.5rem;
    background: url('../../assets/images/AboutUs/pic-b.png');
    z-index: 1;
}

.pic_c {
    height: 17.5rem;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    width: 17.31rem;
    background: url('../../assets/images/AboutUs/pic-c.png');
    z-index: 1;
}

.pic_d {
    height: 17.5rem;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    width: 17.4375rem;
    background: url('../../assets/images/AboutUs/pic-d.png');
    transform: translateY(-40%);
}

.pic_e {
    height: 17.5rem;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    width: 17.5rem;
    background: url('../../assets/images/AboutUs/pic-e.png');
    transform: translateY(-40%);
}


/* WE ARE APPOGA - SECTION */

.weAreAppoga {
    background: #5F2264;
    max-height: 1050px;
    display: flex;
    gap: 1em;
    max-width: 100%;
}

.middle {
    transform: scale(0.8);
} 

.left {
    transform: translate(20%, 5%) scale(0.8);
}

.right {
    transform: translate(-35%,5%) scale(0.8);
}

.handsTogether {
    background: url('../../assets/images/AboutUs/pic-f.png');
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    width: 623px;
    height: 592px;
    margin-right: 7rem;
}

.weAre {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    color: #F1F1F1;
    transform: translateX(-5%);
}

.paragraph1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #F1F1F1;
    margin-bottom: 3em;
}

.paragraph2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #F1F1F1;
}

.paragraph3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #F1F1F1;
}

.paragraph4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #F1F1F1;
    margin-top: 3em;
}


/* OUR ACHIEVEMENTS - SECTION */

.ourAchievements {
    max-height: 800px;
    background: #E5E5E5;
}

.achievements {
    max-width: 624px;
    max-height: 132px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: #303030;
    transform: translateY(50%);
}

.stars {
    gap: 2em;
    display: flex;
    transform: translate(-20em, 8em);
}

.stars:nth-child(1), .stars:nth-child(2), .stars:nth-child(3) {
    width: 60px;
    height: 60px;
}

.ourAchievements > .top {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom > .first {
    display: flex;
}

.bottom > .second {
    display: flex;
}

.one, .two, .three, .four, .five, .six {
    width: 380px;
    height: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    margin: 0 auto;
}

.ourAchievements > .bottom {
    max-width: 90%;
    margin: 0 auto;
    transform: scale(0.9) translateY(-40%);
}

.ellipse_1 {
    width: 60px;
    height: 60px;
    background: #303030;
    background: url('../../assets/images/AboutUs/ellipse.png');
    transform: translate(-3em, 37em);
}

.ellipse_2 {
    width: 60px;
    height: 60px;
    background: #303030;
    background: url('../../assets/images/AboutUs/ellipse.png');
    transform: translate(24em, 32em);
}

.ellipse_3 {
    width: 60px;
    height: 60px;
    background: #303030;
    background: url('../../assets/images/AboutUs/ellipse.png');
    transform: translate(50em, 27em);
}

.ellipse_4 {
    width: 60px;
    height: 60px;
    background: #303030;
    background: url('../../assets/images/AboutUs/ellipse.png');
    transform: translate(24em, 42em);
}

.ellipse_5 {
    width: 60px;
    height: 60px;
    background: #303030;
    background: url('../../assets/images/AboutUs/ellipse.png');
    transform: translate(50em, 37em);
}

.ellipse_6 {
    width: 60px;
    height: 60px;
    background: #303030;
    background: url('../../assets/images/AboutUs/ellipse.png');
    transform: translate(-3em, 32em);
}

.line_1 {
    width: 700px;
    height: 0px;
    border: 10px solid #303030;
    transform: rotate(90deg) translate(25em, 24em) scale(0.7);
}

.line_2 {
    width: 700px;
    height: 0px;
    border: 10px solid #303030;
    transform: rotate(90deg) translate(22em, -3em) scale(0.7);
}

.line_3 {
    width: 700px;
    height: 0px;
    border: 10px solid #303030;
    transform: rotate(90deg) translate(20em, -29em) scale(0.7);
}



/* WHY JOIN APPOGA - SECTION */

.whyJoinAppoga {
    height: 900px;
    background: #5F2264;
}

.whyJoinAppoga .upper {
    max-height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whyJoinAppoga .lower {
    max-height: 70%;
    display: flex;
    justify-content: space-between;
}

.upper h3 {
    max-width: 624px;
    max-height: 132px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    color: #F1F1F1;
}

.upper p {
    max-width: 748px;
    max-height: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F1F1F1;
    margin-top: -1em;
}

.lower > .left {
    max-width: 462px;
    max-height: 471px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 72px;
    line-height: 108px;
    color: #F1F1F1;
    align-self: flex-end;
}

.lower > .right {
    max-width: 100%;
    flex-grow: 2;
    transform: scale(0.8);
}

.personal {
    max-width: 100%;
    height: 50%;
    padding-left: 1rem;
    background: #5F2264;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    display: flex;
    gap: 2.5em;
    margin-bottom: 0.5em;
    position: relative;
}

.personal p:nth-child(2) {
    max-width: 420px;
    height: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #F1F1F1;
    justify-self: center;
    transform: scale(1.1) translate(5%, 10%);
}

.career {
    max-width: 100%;
    height: 25%;
    padding-left: 1rem;
    background: #5F2264;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 0.5em;
    position: relative;
}

.new {
    max-width: 100%;
    height: 25%;
    padding-left: 1rem;
    background: #5F2264;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 0.5em;
    position: relative;

}

.creating {
    max-width: 100%;
    height: 25%;
    padding-left: 1rem;
    background: #5F2264;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 0.5em;
    position: relative;
}

.imghead {
    transform: translate(8em, -38.5em);
}

.imgbody {
    transform: translate(5.2em, -37em);
}

.imgarrow {
    transform: translate(3.5em, -38em);
}

.dropdown1 {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    position: absolute;
    top: 10%;
    left: 90%;
}

.dropdown2, .dropdown3, .dropdown4 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 90%;
}


/* OUR CORE VALUES - SECTION */

.coreValues {
    background: #E5E5E5;
    max-height: 900px;
}

.coreValues .up {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.coreValues .down {
    max-height: 70%;
    display: flex;
}

.up h3 {
    max-width: 400px;
    max-height: 132px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    margin-bottom: -1rem;
    color: #303030;
} 

.up p {
    max-width: 848px;
    max-height: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #303030;
    text-align: center;
}

.animated_Icon1, 
.animated_Icon2,
.animated_Icon3 {
    width: 462px;
    height: 540px;
    background: #707070;
    transform: scale(0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.animated_Icon1 h3:nth-of-type(1), 
.animated_Icon2 h3:nth-of-type(1), 
.animated_Icon3 h3:nth-of-type(1) {
    max-width: 340px;
    max-height: 270px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
} 

.animated_Icon1 h3:nth-of-type(2),
.animated_Icon2 h3:nth-of-type(2),
.animated_Icon3 h3:nth-of-type(2) {
    max-width: 250px;
    max-height: 92px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.animated_Icon1 h3:nth-of-type(3),
.animated_Icon2 h3:nth-of-type(3),
.animated_Icon3 h3:nth-of-type(3) {
    max-width: 150px;
    max-height: 178px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
} 


/* GET A FREE QUOTE - SECTION */

.freeQuote {
    max-width: 100%;
    height: 900px;
    background: #5F2264;
} 

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.quote h3 {
    max-width: 625px;
    max-height: 132px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: #F1F1F1;
    margin-bottom: 0.2em;
}

.quote p {
    max-width: 750px;
    max-height: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
} 

.form input:nth-of-type(1) {
    width: 750px;
    height: 100px;
    background: #C4C4C4;
    border-radius: 10px;
}

.form input:nth-of-type(2) {
    width: 750px;
    height: 100px;
    background: #C4C4C4;
    border-radius: 10px;
}

.textArea {
    width: 750px;
    height: 200px;
    background: #C4C4C4;
    border-radius: 10px;
}

.button {
    width: 750px;
    height: 100px;
    background: #F1F1F1;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    gap: 1em;
}

.button:hover {
    cursor: pointer;
}

.button span {
    width: 750px;
    height: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #5F2264;
}

