.container {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #E5E5E5;
}



/* ABOUT US - SECTION */

.aboutAppoga {
    background: #E5E5E5;
    max-height: 1052px;
}

.intro {
    max-width: 100vw;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.intro h4 {
    max-width: 624px;
    max-height: 132px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
}

.intro .info {
    margin-top: -2rem;
    width: 40%;
    height: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 3.375rem;
    color: #303030;
    text-align: center;
}

.pics {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hands {
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    display: flex;
    gap: 2em;
}


.aboutAppogaCustomized {
    color: #5F2264;
}


.pic_a {
    height: 17.5rem;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    width: 17.5rem;
    background: url('../../assets/images/AboutUs/pic-a.png');
    z-index: 1;
    
}

.pic_b {
    height: 17.5rem;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    width: 17.5rem;
    background: url('../../assets/images/AboutUs/pic-b.png');
    z-index: 1;
}

.pic_c {
    height: 17.5rem;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    width: 17.31rem;
    background: url('../../assets/images/AboutUs/pic-c.png');
    z-index: 1;
}

.pic_d {
    height: 17.5rem;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    width: 17.4375rem;
    background: url('../../assets/images/AboutUs/pic-d.png');
    transform: translateY(-40%);
}

.pic_e {
    height: 17.5rem;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    width: 17.5rem;
    background: url('../../assets/images/AboutUs/pic-e.png');
    transform: translateY(-40%);
}


/* WE ARE APPOGA - SECTION */

.weAreAppoga {
    background: #5F2264;
    max-height: 1050px;
    display: flex;
    gap: 1em;
    max-width: 100%;
}

.middle {
    transform: scale(0.8);
} 

.left {
    transform: translate(25%, 5%) scale(0.8);
}

.right {
    transform: translate(-35%,5%) scale(0.8);
}

.handsTogether {
    background: url('../../assets/images/AboutUs/pic-f.png');
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    width: 623px;
    height: 592px;
    margin-right: 4rem;
}

.weAre {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    color: #F1F1F1;
    transform: translateX(-5%);
}

.paragraph1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #F1F1F1;
    margin-bottom: 3em;
}

.paragraph2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #F1F1F1;
}

.paragraph3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #F1F1F1;
}

.paragraph4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #F1F1F1;
    margin-top: 3em;
}


/* OUR ACHIEVEMENTS - SECTION */

.ourAchievements {
    
}